### Lesson 12 Lab:  Feature Engineering the Bikeshare Dataset

### Step 1:  Load in the Dataset

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")
import scipy.stats
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [26]:
#data = pd.read_csv('C:/Users/James.Kelly/DAT-06-24/class material/Unit 3/data/advertising.csv', index_col=0)
url = 'C:/Users/James.Kelly/DAT-06-24/class material/Unit 3/data/bikeshare.csv'
df = pd.read_csv(url, index_col='datetime', parse_dates=True)
df.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
datetime,,,,,,,,,
2011-01-01 00:00:00,Spring,0,0,Clear Skies,9.84,14.395,81,0.0,16
2011-01-01 01:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,40
2011-01-01 02:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,32
2011-01-01 03:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,13
2011-01-01 04:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,1

### Step 2: Transform Your Categorical Variables (If Necessary)

In [27]:
weather_map = {
    'Clear Skies':       4,
    'Partly Cloudy':     3,
    'Light Storms/Rain': 2,
    'Heavy Storms/Rain': 1
}

df.weather = df.weather.map(weather_map)

In [28]:
df = pd.get_dummies(df, drop_first=True)
df.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,season_Spring,season_Summer,season_Winter
datetime,,,,,,,,,,,
2011-01-01 00:00:00,0,0,4,9.84,14.395,81,0.0,16,1,0,0
2011-01-01 01:00:00,0,0,4,9.02,13.635,80,0.0,40,1,0,0
2011-01-01 02:00:00,0,0,4,9.02,13.635,80,0.0,32,1,0,0
2011-01-01 03:00:00,0,0,4,9.84,14.395,75,0.0,13,1,0,0
2011-01-01 04:00:00,0,0,4,9.84,14.395,75,0.0,1,1,0,0

### Step 3:  Extract Units of Time That You Feel Might Be Useful as New Columns

You can find all of the necessary ones here:  https://pandas.pydata.org/pandas-docs/version/0.24/reference/series.html#time-series-related

Or if you're using an index:  https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DatetimeIndex.html

In [12]:
df['dayofweek'] = df.index.dayofweek
df['hour'] = df.index.hour
df['month'] = df.index.month

df.head()

df = pd.get_dummies(df, drop_first=True)
df.head()

,holiday,workingday,temp,atemp,humidity,windspeed,count,season_Spring,season_Summer,season_Winter,weather_Heavy Storms/Rain,weather_Light Storms/Rain,weather_Partly Cloudy,dayofweek,hour,month
datetime,,,,,,,,,,,,,,,,
2011-01-01 00:00:00,0,0,9.84,14.395,81,0.0,16,1,0,0,0,0,0,5,0,1
2011-01-01 01:00:00,0,0,9.02,13.635,80,0.0,40,1,0,0,0,0,0,5,1,1
2011-01-01 02:00:00,0,0,9.02,13.635,80,0.0,32,1,0,0,0,0,0,5,2,1
2011-01-01 03:00:00,0,0,9.84,14.395,75,0.0,13,1,0,0,0,0,0,5,3,1
2011-01-01 04:00:00,0,0,9.84,14.395,75,0.0,1,1,0,0,0,0,0,5,4,1

### Step 4: Re-Run Your Model With the New Info, and Grab the Metric of Your Choice:  R_squared, MAE, or MSE

In [15]:
#Regression here
#X = df.loc[:, ['zip', 'beds', 'baths', 'sq__ft']]
X = df.loc[:, df.columns != 'count']
y = df['count']

#standardize
num_cols = X.select_dtypes(include=np.number).columns.tolist()
X[num_cols]= (X[num_cols] - X[num_cols].mean()) / X[num_cols].std()
X = pd.get_dummies(X, drop_first=True)

# Instantiate and fit.
lr = LinearRegression()
lr.fit(X, y)

# Print the coefficients.
##print(lr.intercept_)
##print(lr.coef_)
print(lr.score(X,y))

C:\Anaconda\lib\site-packages\pandas\core\frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

0.347931057059199

In [23]:
from sklearn import metrics
df['prediction'] = lr.predict(X)
df.head()
print(metrics.mean_absolute_error(df['count'], df['prediction']))
print(metrics.mean_squared_error(df['count'], df['prediction']))

108.05012711979498
21394.57691231854

### (Bonus):  Create A New Column Called 'Daytime' That Returns 0 or 1 Depending on If It's Between 7 A.M. or 8 P.M. When The Ride Happens

In [29]:
mask = (X['hour'] >= 7) & (X['hour'] < 20)

df['Daytime'] = np.where(mask, 1, 0)

df.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,season_Spring,season_Summer,season_Winter,Daytime
datetime,,,,,,,,,,,,
2011-01-01 00:00:00,0,0,4,9.84,14.395,81,0.0,16,1,0,0,0
2011-01-01 01:00:00,0,0,4,9.02,13.635,80,0.0,40,1,0,0,0
2011-01-01 02:00:00,0,0,4,9.02,13.635,80,0.0,32,1,0,0,0
2011-01-01 03:00:00,0,0,4,9.84,14.395,75,0.0,13,1,0,0,0
2011-01-01 04:00:00,0,0,4,9.84,14.395,75,0.0,1,1,0,0,0

### Check To See If Your Model Improved

### (Bonus):  Analyze Your Residuals

##### 1).  Pull A Histogram

##### 2). Evaluate the Mean and Standard Deviation of Your Residuals

##### 3).  Use Seaborn's lmplot to Your Errors Against the Predicted Value:  Is There An Inherent Pattern?